/******************************************************
 * general*********************************************
 *****************************************************/
* {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

form, form input, form select, form select option {
	font-size: 14px !important;
}

/******************************************************
 * alertas*********************************************
 *****************************************************/
.alert {
	font-size: 14px !important;
}

button.close {
	padding: 10px !important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: rgba(255,255,255,0.135) !important;
}

/******************************************************
 * spinner*********************************************
 *****************************************************/
div.spinner-border {
	width: 18px !important;
	height: 18px !important;
	padding-right: 10px !important;
}

/******************************************************
 * formulario login************************************
 *****************************************************/
div.contenedor-form {
	width: 400px;
	left: 50%;
	height: auto;
	position: absolute;
	transform: translate(-50%, 0);
}

/******************************************************
 * formulario login************************************
 *****************************************************/
div.contenedor-form-login {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 768px) { 
	div.contenedor-form-login, div.contenedor-form {
		width: 100%;
	}
}