* {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

form, form input, form select, form select option {
	font-size: 14px !important;
}

/******************************************************
 * alertas*********************************************
 *****************************************************/
.alert {
	font-size: 13px !important;
}
/******************************************************
 * spinner*********************************************
 *****************************************************/
div.spinner-border {
	width: 18px !important;
	height: 18px !important;
	padding-right: 10px !important;
}

/******************************************************
 * formulario login************************************
 *****************************************************/
div.contenedor-form-login {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 768px) { 
	div.contenedor-form-login{
		width: 100%;
	}
}