/******************************************************
 * general*********************************************
 *****************************************************/
* {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

form, form input, form select, form select option {
	font-size: 14px !important;
}

/******************************************************
 * modal **********************************************
 *****************************************************/


/******************************************************
 * alertas*********************************************
 *****************************************************/
.alert {
	font-size: 14px !important;	
}

.enlaces-ver > *{
	display: inline-block;
}

.breadcrumb {
	margin-bottom: 0px !important;
	padding: 12px 20px !important;
}

button.close {
	padding: 10px !important;
}

/******************************************************
 * tabla***********************************************
 *****************************************************/
table tbody tr td{
	font-size: 14px !important;
}

table tbody td, table thead th{
    white-space: nowrap !important;
}

table tbody tr:hover{
    background-color: #cfd8dc !important;
}

ul.pagination {
    justify-content: center !important;
}

/******************************************************
 * nav ************************************************
 *****************************************************/
.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: rgba(255,255,255,0.135) !important;
}

/******************************************************
 * spinner ********************************************
 *****************************************************/
div.spinner-border {
	width: 18px !important;
	height: 18px !important;
	padding-right: 10px !important;
}

/******************************************************
 * contenedores tablas y forms ************************
 *****************************************************/
div.contenedor-form {
	width: 500px;
	left: 50%;
	height: auto;
	position: absolute;
	transform: translate(-50%, 0);
}

/******************************************************
 * contenedor resultados ******************************
 *****************************************************/
div.contenedor-resultados {

}

span.objeto-tipo {
	background-color: green;
	color: white;
	padding: 5px 8px;	
	border-radius: 10px;
}

.icono-editar {
	font-size: 16px !important;
}

label {
	font-weight: bold;
}

/******************************************************
 * tablas *********************************************
 *****************************************************/
div.centrar-tabla {
	width: 600px !important;
	left: 50%;
	height: auto;
	position: absolute;
	transform: translate(-50%, 0);
}

/******************************************************
 * filtro *********************************************
 *****************************************************/
.contenedor-filtro {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
}

.contenedor-filtro .cantidad,
.contenedor-filtro .campo,
.contenedor-filtro .orden{
	margin-right: 10px;
}

.contenedor-filtro .boton button {    
    margin-right: 0px;
    margin-left: 0px;
}

.total-filtro {
	border: 1px solid gray;
	font-size: 12px;
	background-color: white;
	margin-right: 10px;
	padding: 3px 6px;
	border-radius: 18px;
}

/******************************************************
 * formulario login************************************
 *****************************************************/
div.contenedor-form-login {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    /*
    * Redimensión de elementos del filtro
    */
    .contenedor-filtro .excel,
    .contenedor-filtro .cantidad,
    .contenedor-filtro .campo,
    .contenedor-filtro .orden,
    .contenedor-filtro .boton{    
        grid-column: 1 / -1; 
    }

	.contenedor-filtro .cantidad,
	.contenedor-filtro .campo,
	.contenedor-filtro .orden,
	.contenedor-filtro .boton{
		margin-top: 10px;
		margin-right: 0px;
	}

	div.centrar-tabla {
		width: 100% !important;
		left: 0px;
		height: auto;
		position: absolute;
		transform: translate(0, 0);
	}

    .contenedor-filtro .boton button {    
        width: 100%;
        margin: 0px;
    }    

    .contenedor-filtro {
    	text-align: center;
    }

	div.contenedor-form-login, div.contenedor-form, div.contenedor-resultados {
		margin: 0px 5px;
	}

	button.boton-buscar, input.input-buscar {
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: 100% !important;
	}  

}